{% extends "template.html" %}

{% load endless %}
{% load filters %}

{% block head %}
  {% include "popup_image.html" %}
{% endblock %}

{% block ptitle %}CMFGEN Models{% endblock %}

{% block title %}
  CMFGEN models
  {% if request.GET.ion %}
    with ion {{ request.GET.ion }}
  {% endif %}
  {% if type and type != 'all' %}
    for type {{ type }}
  {% endif %}
  : {{ models.count }} models
{% endblock %}

{% block content %}

  <div class="small">
    Filter ions:
    {% for ion in ions %}
      <a href="?ion={{ ion.0 }}" title="Models with this ion">{{ ion.0 }}</a>
      -
    {% endfor %}
      <a href="?" title="All models">All</a>
  </div>

{% paginate 50 models %}
<table class="table table-striped table-condensed">
  <tr>
    <th style="text-align:center">Name
      {% if sort == 'name' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-name" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-name'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=name" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=name" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
    </th>
    <th style="text-align:center">L<sub>*</sub> / L<sub>sun</sub>
      {% if sort == 'lstar' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-lstar" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-lstar'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=lstar" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=lstar" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
    </th>
    <th style="text-align:center">M<sub>dot</sub>
      {% if sort == 'mdot' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-mdot" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-mdot'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=mdot" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=mdot" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
    </th>
    <th style="text-align:center">T<sub>*</sub>
          {% if sort == 'tstar' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-tstar" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-tstar'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=tstar" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=tstar" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
    </th>
    <th style="text-align:center">T<sub>eff</sub>
      {% if sort == 'teff' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-teff" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-teff'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=teff" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=teff" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
    </th>
    {% if type == 'O' %}
      <th style="text-align:center">Log g
        {% if sort == 'logg' %}
          <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-logg" | GET_urlencode }}"
            <i class="fa fa-fw fa-sort-desc"></i>
          </a>
        {% elif sort == '-logg'  %}
          <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=logg" | GET_urlencode }}"
            <i class="fa fa-fw fa-sort-asc"></i>
          </a>
        {% else %}
          <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=logg" | GET_urlencode }}"
            <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
          </a>
        {% endif %}
      </th>
    {% endif %}
    <th style="text-align:center">Velocity Law
      {% if sort == 'vel_law' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-vel_law" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-vel_law'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=vel_law" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=vel_law" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
    </th>
    <th style="text-align:center">V<sub>&infin;</sub>
      {% if sort == 'vinf' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-vinf" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-vinf'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=vinf" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=vinf" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
    </th>
    <th style="text-align:center">CL<sub>1</sub>
      {% if sort == 'cl_par_1' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-cl_par_1" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-cl_par_1'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=cl_par_1" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=cl_par_1" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
    </th>
    <th style="text-align:center">CL<sub>2</sub>
      {% if sort == 'cl_par_2' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-cl_par_2" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-cl_par_2'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=cl_par_2" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=cl_par_2" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
    </th>
    <th style="text-align:center">Hydrogen
      {% if sort == 'hyd_rel_frac' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-hyd_rel_frac" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-hyd_rel_frac'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=hyd_rel_frac" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=hyd_rel_frac" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
    </th>
    <th style="text-align:center">C
      {% if sort == 'carb_rel_frac' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-carb_rel_frac" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-carb_rel_frac'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=carb_rel_frac" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=carb_rel_frac" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
    </th>
    <th style="text-align:center">N
      {% if sort == 'nit_rel_frac' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-nit_rel_frac" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-nit_rel_frac'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=nit_rel_frac" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=nit_rel_frac" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
    </th>
    <th style="text-align:center">O
      {% if sort == 'oxy_rel_frac' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-oxy_rel_frac" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-oxy_rel_frac'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=oxy_rel_frac" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=oxy_rel_frac" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
    </th>
    <th style="text-align:center">Fe
      {% if sort == 'iron_rel_frac' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-iron_rel_frac" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-iron_rel_frac'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=iron_rel_frac" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=iron_rel_frac" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
    </th>

    <th></th>
  </tr>
  {% for model in models %}
    <tr>
      <td><a href="{% url 'model_details' model.id %}"><span class="glyphicon glyphicon-picture"></span> {{ model.name }}</a></td>
      <td align="center">{{ model.lstar | floatformat:0 }}</td>
      <td align="center">{{ model.mdot }}</td>
      <td align="center">{{ model.tstar | floatformat:0 }}</td>
      <td align="center">{{ model.teff | floatformat:0 }}</td>
      {% if type == 'O' %}
        <td align="center">{{ model.logg | floatformat:2 }}</td>
      {% endif %}
      <td align="center">
        {% if model.vel_law == 3 %}
          3: &beta; = {{ model.params.Beta1 }}
        {% elif model.vel_law == 7 %}
          7: &beta; = {{ model.params.Beta1 }}
        {% else %}
          6: &beta;<sub>1</sub> = {{ model.params.Beta1 }}, &beta;<sub>2</sub> = {{ model.params.Beta2 }}
        {% endif %}
      </td>
      <td align="center">
        {% if model.vel_law == 3 %}
          {{ model.vinf | floatformat:0 }}
        {% elif model.vel_law == 7 %}
          {{ model.vinf | floatformat:0 }}
        {% else %}
          V<sub>&infin;,1</sub> = {{ model.params.Vinf1 | floatformat:0 }}, V<sub>&infin;,2</sub> = {{ model.params.Vinf2 | floatformat:0 }}
        {% endif %}
      </td>
      <td align="center">{{ model.cl_par_1 }}</td>
      <td align="center">{{ model.cl_par_2 }}</td>
      <td align="center"><span title="Relative fraction">{{ model.hyd_rel_frac }} /
        <span title="Mass fraction">{{ model.hyd_mass_frac|multiply:100|floatformat:1 }}%</span></td>
      <td align="center">{{ model.carb_rel_frac | my_float:1 }}</td>
      <td align="center">{{ model.nit_rel_frac | my_float:1 }}</td>
      <td align="center">{{ model.oxy_rel_frac | my_float:1 }}</td>
      <td align="center">{{ model.iron_rel_frac | my_float:1 }}</td>
      <td>
        <a href="{% url 'model_plot' model.id 'flux' %}" onclick="return popupImage(event, '{% url 'model_plot' model.id 'flux' %}', 'Spectrum for {{ model.name }}');" title="Show spectrum">S</a>
        <a href="{% url 'model_plot' model.id 'fluxnorm' %}" onclick="return popupImage(event, '{% url 'model_plot' model.id 'fluxnorm' %}', 'Normalized spectrum for {{ model.name }}');" title="Show normalized spectrum">N</a>
      </td>
    </tr>
  {% endfor %}
</table>

{% show_pages %}

{% endblock %}
