{% extends "template.html" %}

{% load endless %}
{% load filters %}

{% block head %}
  {% include "popup_image.html" %}
{% endblock %}

{% block ptitle %}CMFGEN Models{% endblock %}

{% block title %}
  CMFGEN models
  {% if request.GET.ion %}
    with ion {{ request.GET.ion }}
  {% endif %}
  : {{ models.count }} models
{% endblock %}

{% block content %}

  <div class="small">
    Filter ions:
    {% for ion in ions %}
      <a href="{% url 'models_list' %}?ion={{ ion.0 }}" title="Models with this ion">{{ ion.0 }}</a>
      -
    {% endfor %}
      <a href="{% url 'models_list' %}" title="All models">All</a>
  </div>

{% paginate 50 models %}
<table class="table table-striped table-condensed">
  <tr>
    <th style="text-align:center">Name
      {% if sort == 'name' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-name" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-name'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=name" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=name" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
    </th>
    <th style="text-align:center">L*
      {% if sort == 'lstar' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-lstar" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-lstar'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=lstar" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=lstar" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
    </th>
    <th style="text-align:center">Mdot
      {% if sort == 'mdot' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-mdot" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-mdot'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=mdot" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=mdot" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
    </th>
    <th style="text-align:center">T*
          {% if sort == 'tstar' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-tstar" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-tstar'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=tstar" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=tstar" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
    </th>
    <th style="text-align:center">Teff
      {% if sort == 'teff' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-teff" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-teff'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=teff" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=teff" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
    </th>
    <th style="text-align:center">Velocity Law
      {% if sort == 'vel_law' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-vel_law" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-vel_law'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=vel_law" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=vel_law" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
    </th>
    <th style="text-align:center">cl_par_1
      {% if sort == 'cl_par_1' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-cl_par_1" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-cl_par_1'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=cl_par_1" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=cl_par_1" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
    </th>
    <th style="text-align:center">cl_par_2
      {% if sort == 'cl_par_2' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-cl_par_2" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-cl_par_2'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=cl_par_2" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=cl_par_2" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
    </th>
    <th style="text-align:center">Hydrogen
      {% if sort == 'hyd_mass_frac' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-hyd_mass_frac" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-hyd_mass_frac'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=hyd_mass_frac" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=hyd_mass_frac" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
      <br>mass fraction
    </th>
    <th style="text-align:center">Hydrogen
      {% if sort == 'hyd_rel_frac' %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=-hyd_rel_frac" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-desc"></i>
        </a>
      {% elif sort == '-hyd_rel_frac'  %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=hyd_rel_frac" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort-asc"></i>
        </a>
      {% else %}
        <a href="?{{ request.GET | GET_remove:"sort" | GET_remove:"page" | GET_append:"sort=hyd_rel_frac" | GET_urlencode }}"
          <i class="fa fa-fw fa-sort" style="color: lightgray"></i>
        </a>
      {% endif %}
      <br>fraction
    </th>
    <th></th>
  </tr>
  {% for model in models %}
    <tr>
      <td><a href="{% url 'model_details' model.id %}"><span class="glyphicon glyphicon-picture"></span> {{ model.name }}</a></td>
      <td align="center">{{ model.lstar }}</td>
      <td align="center">{{ model.mdot }}</td>
      <td align="center">{{ model.tstar }}</td>
      <td align="center">{{ model.teff }}</td>
      <td align="center">
        {% if model.vel_law == 3 %}
          Beta = {{ model.params.Beta1 }}
        {% else %}
          Beta1 = {{ model.params.Beta1 }}, Beta2 = {{ model.params.Beta2 }}
        {% endif %}
      </td>
      <td align="center">{{ model.cl_par_1 }}</td>
      <td align="center">{{ model.cl_par_2 }}</td>
      <td align="center">{{ model.hyd_mass_frac }}</td>
      <td align="center">{{ model.hyd_rel_frac }}</td>
      <td>
        <a href="{% url 'model_plot' model.id 'fin' %}" onclick="return popupImage(event, '{% url 'model_plot' model.id 'fin' %}', 'Spectrum for {{ model.name }}');" title="Show spectrum">S</a>

        <a href="{% url 'model_plot' model.id 'cont' %}" onclick="return popupImage(event, '{% url 'model_plot' model.id 'cont' %}', 'Continuum for {{ model.name }}');" title="Show continuum">C</a>
      </td>
    </tr>
  {% endfor %}
</table>

{% show_pages %}

{% endblock %}
