{% extends "template.html" %}

{% load endless %}
{% load filters %}

{% block ptitle %}{{ model.name }} : CMFGEN Models{% endblock %}

{% block title %}
Model {{ model.name }}
{% endblock %}

{% block content %}

  <img src="{% url 'model_plot' model.id 'flux' %}" class="img-responsive center-block" alt="Responsive image">

  <div class="text-center">
    <a href="{% url 'model_plot_select' model.id %}">
      <button type="button" class="btn btn-default">Adjust spectral range</button>
    </a>
  </div>

  <div>

  <table class="table table-striped table-condensed">
    <tr>
      <td>Type:</td><td>{{ model.type }}</td>
      {% if model.type == 'O' %}
        <td style="border-left: 1px solid lightgray">Log g</td><td>{{ model.logg }}</td>
      {% else %}
        <td style="border-left: 1px solid lightgray"></td><td></td>
      {% endif %}
    </tr>
    <tr>
      <td>Lstar</td><td>{{ model.lstar }}</td>
      <td style="border-left: 1px solid lightgray">Mdot</td><td>{{ model.mdot }}</td>
    </tr>

    <tr>
      <td>Tstar</td><td>{{ model.tstar }}</td>
      <td style="border-left: 1px solid lightgray">Teff</td><td>{{ model.teff }}</td>
    </tr>

    <tr><td>Velocity Law</td><td colspan=3>
      {% if model.vel_law == 3 %}
        3: Beta Law with &beta; = {{ model.params.Beta1 }}, V<sub>&infin;</sub> = {{ model.params.Vinf1 }} km/s
      {% elif model.vel_law == 7 %}
        7: Beta Law with &beta; = {{ model.params.Beta1 }}, V<sub>&infin;</sub> = {{ model.params.Vinf1 }} km/s
      {% else %}
        6: Double Beta Law with &beta;<sub>1</sub> = {{ model.params.Beta1 }}, V<sub>&infin;,1</sub> = {{ model.params.Vinf1 }} km/s, &beta;<sub>2</sub> = {{ model.params.Beta2 }}, V<sub>&infin;,2</sub> = {{ model.params.Vinf2 }} km/s
      {% endif %}
    </td></tr>

    <tr>
      <td>cl_par_1</td><td>{{ model.cl_par_1 }}</td>
      <td style="border-left: 1px solid lightgray">cl_par_2</td><td>{{ model.cl_par_2 }}</td>
    </tr>
    <tr>
      <td>Ions in the model:</td>
      <td colspan=3>
        {% for ion in ions %}
          <a href="{% url 'models_list' %}?ion={{ ion }}" title="Models with this ion">{{ ion }}</a>
        {% endfor %}
      </td>
    </tr>
  </table>

  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#species"><span class="glyphicon glyphicon-th-list"></span> Abundances of Species</a>
      </h4>
    </div>
    <div id="species" class="panel-collapse collapse in">
      <table class="table table-striped table-condensed">
        <tr>
          <th>Species</th>
          <th style="text-align:center">Relative Fraction</th>
          <th style="text-align:center">Mass Fraction</th>
          <th style="text-align:center">Z/Zsun</th>
        </tr>
        {% for s in species %}
          <tr>
            <td>{{ s.name }}</td>
            <td align="center"><span title="Relative Fraction">{{ s.rel_frac }}</span></td>
            <td align="center"><span title="Mass Fraction">{{ s.mass_frac|multiply:100 }}%</span></td>
            <td align="center">{{ s.z_z_sun }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

{% endblock %}
